<hr>
<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/artalk/2.8.7/Artalk.css" rel="stylesheet">

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/artalk/2.8.7/Artalk.js"></script>

<!-- Artalk -->
<div id="Comments"></div>
<script>
Artalk.init({
  el:        '#Comments',                // 绑定元素的 Selector
  pageKey:   '',                  // 固定链接
  pageTitle: '',  // 页面标题 (留空自动获取)
  server:    'https://at.weiqiang.org',  // 后端地址
  site:      '村野集',             // 你的站点名
})
</script>
