<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
<link rel="icon" type="image/png" sizes="any" href="/images/favicon-32x32.png">
<link rel="manifest" href="/images/site.webmanifest">
