<div id="footer-menu">
<h2 class="article-title">本站导航</h2>
<div class="footer-nav">
<a href="/">首页</a> &bull; <a href="/about.html">关于</a> &bull; <a href="/zh/">网志</a> &bull; <a href="/memos.html">备忘</a> &bull; <a href="/topic/">博物</a> &bull; <a href="/projects.html">项目</a> &bull; <a href="/links.html">收藏</a> &bull; <a href="/rss.xml">订阅</a> &bull; <a href="#top">&#8593 顶部</a>
</div>
</div>
<div id="footer-info">
本页最后更新: %C.<br>
除特别声明外，本站内容均遵循 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank">CC BY-NC-SA 4.0</a> 协议。<br>
&copy; <a href="https://weiqiang.org" class="author">LUWEIQIANG</a>, SINCE 2008.
</div>
