<div class="menu">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24px" height="24px" viewBox="0 0 512 512" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
<g><path style="opacity:1" fill="#d43900" d="M 254.5,-0.5 C 255.167,-0.5 255.833,-0.5 256.5,-0.5C 341.167,84.8333 426.167,169.833 511.5,254.5C 511.5,255.167 511.5,255.833 511.5,256.5C 464.201,303.299 417.035,350.299 370,397.5C 368.635,408.155 367.468,418.821 366.5,429.5C 355.788,430.337 345.122,431.503 334.5,433C 308.298,459.035 282.298,485.201 256.5,511.5C 255.833,511.5 255.167,511.5 254.5,511.5C 232.368,488.868 210.035,466.368 187.5,444C 169.229,445.341 150.896,446.507 132.5,447.5C 133.454,428.175 133.621,408.841 133,389.5C 88.6321,344.965 44.1321,300.632 -0.5,256.5C -0.5,255.833 -0.5,255.167 -0.5,254.5C 46.4654,208.035 93.2987,161.368 140,114.5C 140.597,97.5007 141.097,80.5007 141.5,63.5C 158.17,63.6666 174.837,63.4999 191.5,63C 212.702,41.9653 233.702,20.7986 254.5,-0.5 Z M 254.5,22.5 C 333.097,99.4301 411.097,177.097 488.5,255.5C 450.18,294.32 411.68,332.986 373,371.5C 374.14,349.787 375.974,328.121 378.5,306.5C 340.827,306.833 303.161,306.5 265.5,305.5C 270.213,224.657 277.213,143.99 286.5,63.5C 262.498,63.6666 238.498,63.5 214.5,63C 228.035,49.6318 241.369,36.1318 254.5,22.5 Z M 138.5,138.5 C 139.163,140.641 139.497,142.975 139.5,145.5C 137.289,219.488 135.456,293.488 134,367.5C 96.6529,330.32 59.4863,292.986 22.5,255.5C 61.1878,216.479 99.8544,177.479 138.5,138.5 Z M 299.5,434.5 C 302.85,434.335 306.183,434.502 309.5,435C 291.653,453.014 273.653,470.847 255.5,488.5C 239.833,473.5 224.5,458.167 209.5,442.5C 239.647,439.822 269.647,437.155 299.5,434.5 Z"></path></g>
</svg>
<a accesskey="H" href="/">首頁</a>
<a accesskey="A" href="/about.html">關於</a>
<a accesskey="N" href="/now.html">現在</a>
<a accesskey="D" href="#footer-menu">導航 &#8595;</a>
</div>
