:root {
    --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
    --cjk-sans: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "WenQuanYi Micro Hei";
    --bq-fonts: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
    --main-width: 750px;
    --pad-width: 95%;
    --bg-color: #fefefe;
    --bg-color-top: #f2f4f6;
    --main-color: #222111;
    --bq-color: #333;
    --link-color: #d43900;
    --link-color-hover: #222222;
    --link-color-active: #d43900;
    --select-color: #d43900;
    --bg-color-quote: #f1f3ec;
    --time-color: #666;
    --desc-color: #999;
}
::selection {
    color: #fff;
    background: var(--select-color);
}
html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    color: var(--main-color);
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: var(--bg-color);
}
h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}
h1 img,h2 img,h3 img,h4 img {
    vertical-align: middle;
    border: 0 none;
}
h1 {
    font-size: 3.2rem;
    margin: 16px 0;
    font-weight: 900;
    letter-spacing: 0.02em;
}
h2 {
    margin: 10px 0;
    font-size: 2.8rem;
    font-weight: 700;
}
h3 {
    font-size: 2.4rem;
    margin: 5px 0;
    font-weight: 700;
}
h4, h5, h6 {
    font-size: 2rem;
    margin: 5px 0;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    color: var(--link-color-hover);
}
pre {
    background: var(--bg-color-quote);
    overflow: auto;
    font-size: 1.6rem;
}
pre.src {
    width: 95%;
}
code {
    background: var(--bg-color-quote);
    padding: 2px;
    margin: 0px;
    color: var(--bq-color);
    font-size: 1.5rem;
    overflow-x: auto;
}
blockquote {
    margin: 0;
    padding-left: 10px;
    font-family: var(--bq-fonts);
    font-size: 1.6rem;
    border: 1px solid var(--bg-color-quote);
    color: var(--bq-color);
    background-color: var(--bg-color-quote);
}
blockquote p {
    margin: 5px 0 !important;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 90%;
    position: relative;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.3em;
}
img, video {
    border: none;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2px;
}
img.no-border {
    border: none;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}
img.profile {
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 200px;
}
time {
    float: right;
    padding-right: 3px;
    width: 25%;
    position: relative;
    top: 3px;
    text-align: right;
}
.date {
    color: var(--time-color);
    font-size: 1.6rem;
}
.index-title p {
    font-weight: 800;
    font-size: 3.2rem !important;
}
.index-title:hover {
    opacity: .7;
}
.index-item p {
    font-size: 1.6rem !important;
}
span .timestamp {
    font-size: 1.5rem;
    color: var(--time-color);
}
.description {
    margin-top: -.6em;
}
.entry {
    padding: 10px 2px;
    margin: 0;
}
span.entry-title {
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
    width: 74%;
}
.clearfix {
    clear: both;
}
/* Site layout */
#top {
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu {
    max-width: var(--main-width);
    padding: 30px 20px;
    margin: 0 auto;
    text-align: right;
}
.menu a {
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.7rem;
}
.menu svg {
    float: left;
    margin-top: 3px;
}
#content {
    padding: 20px 0 10px;
    margin: 0 auto;
    max-width: var(--main-width);
}
#content p {
    margin: 20px 0;
    font-size: 1.8rem;
}
.title {
    margin: 5px 0;
}
h1.title {
    font-size: 3.2rem;
}
.subtitle {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 16px;
    opacity: 0.8;
}
#entrymeta {
    color: var(--desc-color);
    font-size: 1.6rem;
}
section {
    margin: 1.2em auto;
}
article {
    margin: 1.2em auto;
}
h2.article-title {
    margin-top: 0;
    font-size: 2.4rem;
}
nav.pagenav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
}
span.pageleft {
    max-width: 50%;
}
span.pageright {
    max-width: 50%;
}
#comment {
    margin: 10px auto 20px;
    font-size: 1.6rem;
}
#comment hr {
    margin: 3em auto;
    width: 15%;
    border: 10px dotted;
    border-left: 0;
    border-right: 0;
    border-color: #cde;
    border-top: 1px;
}
.artalk, .atk-layer-wrap {
    --at-color-border: #cde !important;
    --at-color-bg: var(--bg-color) !important;
}
.atk-main-editor>.atk-header input {
    border-bottom: 1px dashed #cde !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
#postamble {
    margin: 0 auto;
    max-width: var(--main-width);
    padding: 10px;
}
#footer-menu {
    margin-top: 50px;
    font-size: 1.6rem;
}
.footer-nav {
    color: var(--desc-color);
}
#footer-menu a {
    color: var(--desc-color);
}
#footer-menu a:hover {
    color: var(--bq-color);
}
#footer-info {
    margin-top: 40px;
    color: var(--desc-color);
    font-size: 1.5rem;
}
#footer-info a {
    color: var(--bq-color);
}
#footer-info a:hover {
    color: var(--desc-color);
}
#footer-info a.author {
    color: var(--time-color);
}
.footdef sup {
    font-size: 1.2rem;
    line-height: 1;
    top: 0.4em;
}
.footpara {
    display: inline;
    font-size: 1.5rem;
    font-weight: 400;
}
.footpara a {
    word-break: break-all;
}
/* https://gnu.re/css/site.css?v=2*/
@media screen and (max-width: 660px) {
    #content {
	padding: 20px 10px 10px 10px;}
}
@media screen and (max-width: 600px) {
    .menu {padding: 20px 10px;}
    .menu a {margin-left: 15px;}
    .index-title {opacity: 1;}
    #content { padding-right: 10px;
	       padding-left: 10px;
	       font-size: 1.8rem;
	       max-width: var(--pad-width);}
    span.entry-title {width: 70%;}
    time {width: 28%;}
    img.profile {
	margin-top: 30px;}
    .notepage ul {
	display: block;}
    img { max-width: 100%;
	  height: auto;}
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }
ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
ul.org-ul {
    margin-left: 20px;
    padding-left: 0;
}
ol.org-ol {
    margin-left: 20px;
    padding-left: 10px;
}
#zhijiao ol.org-ol {
    padding-left: 10px;
}
#zhijiao ol.org-ol li {
    display: inline-block;
    margin-right: 1.5em;
}
/* table -- from orgcss https://github.com/gongzhitaao/orgcss */
table {
    margin: 1em auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid;
}
table td + td, table th + th {
    border-left: 1px solid gray;
}
table tr {
    border-top: 1px solid lightgray;
}
td,th {
    padding: 0.3em 0.6em;
    vertical-align: middle;
}
caption.t-above {
    caption-side: top;
}
caption.t-bottom {
    caption-side: bottom;
}
caption {
    margin-bottom: 0.3em;
}
figcaption {
    margin-top: 0.3em;
}
th.org-right {
    text-align: center;
}
th.org-left {
    text-align: center;
}
th.org-center {
    text-align: center;
}
td.org-right {
    text-align: right;
}
td.org-left {
    text-align: left;
}
td.org-center {
    text-align: center;
}
.todo {
    background-color: red;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 1em;
    font-family: $monospace;
    line-height: 1;
}
.done {
    background-color: green;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 1em;
    font-family: $monospace;
    line-height: 1;
}
.priority {
    color: orange;
    font-family: $monospace;
}
/* Because tag span is set to float.  This is more like a hacking.  Maybe we
   need a cleaner solution. */
#table-of-contents li {
    clear: both;
}
.org-src-container {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: $monospace;
    font-size: 1em;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
}
.org-src-container>pre {
    overflow: auto;
}
.org-src-container>pre:before {
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: white;
    font-size: .8em;
}
/* from http://demo.thi.ng/org-spec/ <link rel="stylesheet" type="text/css" href="https://gongzhitaao.org/orgcss/org.css"/> */
.org-src-container>pre.src-sh:before {
    content: 'sh';
}
.org-src-container>pre.src-bash:before {
    content: 'bash';
}
.org-src-container>pre.src-emacs-lisp:before {
    content: 'Emacs Lisp';
}
.org-src-container>pre.src-R:before {
    content: 'R';
}
.org-src-container>pre.src-org:before {
    content: 'Org';
}
.org-src-container>pre.src-cpp:before {
    content: 'C++';
}
.org-src-container>pre.src-c:before {
    content: 'C';
}
.org-src-container>pre.src-html:before {
    content: 'HTML'
}
.org-src-container>pre.src-js:before {
    content: 'Javascript'
}
.org-src-container>pre.src-javascript:before {
    content: 'Javascript'
}

/* // More languages from http://orgmode.org/worg/org-contrib/babel/languages.html */

.org-src-container>pre.src-abc:before {
    content: 'ABC';
}
.org-src-container>pre.src-asymptote:before {
    content: 'Asymptote';
}
.org-src-container>pre.src-awk:before {
    content: 'Awk';
}
.org-src-container>pre.src-C:before {
    content: 'C';
}
.org-src-container>pre.src-calc:before {
    content: 'Calc';
}
.org-src-container>pre.src-clojure:before {
    content: 'Clojure';
}
.org-src-container>pre.src-comint:before {
    content: 'comint';
}
.org-src-container>pre.src-css:before {
    content: 'CSS';
}
.org-src-container>pre.src-D:before {
    content: 'D';
}
.org-src-container>pre.src-ditaa:before {
    content: 'Ditaa';
}
.org-src-container>pre.src-dot:before {
    content: 'Dot';
}
.org-src-container>pre.src-ebnf:before {
    content: 'ebnf';
}
.org-src-container>pre.src-forth:before {
    content: 'Forth';
}
.org-src-container>pre.src-F90:before {
    content: 'Fortran';
}
.org-src-container>pre.src-gnuplot:before {
    content: 'Gnuplot';
}
.org-src-container>pre.src-haskell:before {
    content: 'Haskell';
}
.org-src-container>pre.src-io:before {
    content: 'Io';
}
.org-src-container>pre.src-java:before {
    content: 'Java';
}
.org-src-container>pre.src-latex:before {
    content: 'LaTeX';
}
.org-src-container>pre.src-ledger:before {
    content: 'Ledger';
}
.org-src-container>pre.src-ly:before {
    content: 'Lilypond';
}
.org-src-container>pre.src-lisp:before {
    content: 'Lisp';
}
.org-src-container>pre.src-makefile:before {
    content: 'Make';
}
.org-src-container>pre.src-matlab:before {
    content: 'Matlab';
}
.org-src-container>pre.src-max:before {
    content: 'Maxima';
}
.org-src-container>pre.src-mscgen:before {
    content: 'Mscgen';
}
.org-src-container>pre.src-Caml:before {
    content: 'Objective';
}
.org-src-container>pre.src-octave:before {
    content: 'Octave';
}
.org-src-container>pre.src-perl:before {
    content: 'Perl';
}
.org-src-container>pre.src-picolisp:before {
    content: 'Picolisp';
}
.org-src-container>pre.src-plantuml:before {
    content: 'PlantUML';
}
.org-src-container>pre.src-python:before {
    content: 'Python';
}
.org-src-container>pre.src-ruby:before {
    content: 'Ruby';
}
.org-src-container>pre.src-sass:before {
    content: 'Sass';
}
.org-src-container>pre.src-scala:before {
    content: 'Scala';
}
.org-src-container>pre.src-scheme:before {
    content: 'Scheme';
}
.org-src-container>pre.src-screen:before {
    content: 'Screen';
}
.org-src-container>pre.src-sed:before {
    content: 'Sed';
}
.org-src-container>pre.src-shell:before {
    content: 'shell';
}
.org-src-container>pre.src-shen:before {
    content: 'Shen';
}
.org-src-container>pre.src-sql:before {
    content: 'SQL';
}
.org-src-container>pre.src-sqlite:before {
    content: 'SQLite';
}
.org-src-container>pre.src-stan:before {
    content: 'Stan';
}
.org-src-container>pre.src-vala:before {
    content: 'Vala';
}
.org-src-container>pre.src-axiom:before {
    content: 'Axiom';
}
.org-src-container>pre.src-browser:before {
    content: 'HTML';
}
.org-src-container>pre.src-cypher:before {
    content: 'Neo4j';
}
.org-src-container>pre.src-elixir:before {
    content: 'Elixir';
}
.org-src-container>pre.src-request:before {
    content: 'http';
}
.org-src-container>pre.src-ipython:before {
    content: 'iPython';
}
.org-src-container>pre.src-kotlin:before {
    content: 'Kotlin';
}
.org-src-container>pre.src-Flavored Erlang  lfe:before {
    content: 'Lisp';
}
.org-src-container>pre.src-mongo:before {
    content: 'MongoDB';
}
.org-src-container>pre.src-prolog:before {
    content: 'Prolog';
}
.org-src-container>pre.src-rec:before {
    content: 'rec';
}
.org-src-container>pre.src-ML  sml:before {
    content: 'Standard';
}
.org-src-container>pre.src-Translate  translate:before {
    content: 'Google';
}
.org-src-container>pre.src-typescript:before {
    content: 'Typescript';
}
.org-src-container>pre.src-rust:before {
    content: 'Rust';
}
